.aboutContainer {
  height: 300px;
  padding: 20px;
}
.aboutContent {
  width:fit-content;
  justify-content: center;
}

.aboutDesign {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .aboutContainer{
    padding-top: 20%;
  }
  }