.main {
  margin-left: 200px;
  padding: 10px 40px 10px 10px;
  /* background-color: #FFFFFF; */
  /* background-color: #DCFFFD; */
  /* background-color: #98FFFF; */
  background-color: #EEFBFB;
  color: #203647;
  width: fit-content;
  height: 100%;
}

.mainContent {
  /* background-color: #EEFBFB; */
}

@media screen and (max-width: 768px) {
  .main {
    /* background-color: black; */
  }
}