.main {
  margin-left: 200px;
  padding: 10px 40px 10px 10px;
  /* background-color: #FFFFFF; */
  /* background-color: #DCFFFD; */
  /* background-color: #98FFFF; */
  background-color: #EEFBFB;
  color: #203647;
  width: fit-content;
  height: 100%;
}

.mainContent {
  background-color: #EEFBFB;
  /* height: 100%; */
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    margin-left: auto;
    height: 100%;
    background-color: #EEFBFB;
  }
  .mainContent {
    background-color: #EEFBFB;
    height: 100%;
    flex: 1;
  }
}