.main {
  margin-left: 200px;
  padding: 10px;
  /* background-color: #FFFFFF; */
  /* background-color: #DCFFFD; */
  /* background-color: #98FFFF; */
  background-color: #EEFBFB;
  color: #203647;
}