.navLinks {
  list-style-type: none;
  width: 60%;
  display: block;
}

.navLinks li {
  list-style-type: none;
  font-size: 22px;
  line-height: 48px;
  color: #FFFFFF;
  cursor: pointer;
}

.imageWrapper {
  border: 10px solid #DCFFFD;
  border-radius: 50px;
  padding: 0px 0px 0px 0px;
  margin-left: 15%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

#mobileMain {
  display: none;
}

@media screen and (max-width: 768px) {
  #mobileMain {
    display: contents;
  }
}