.projectContainer {
  height: 500px;
  padding: 20px;
  display: flex;
}

.projectContent {
  height: 100%;
  width: fit-content;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .projectContainer {
    padding-top: 20%;
    height: 100%;
    /* margin-bottom: 100%; */
  }
}