.projectContainer {
  height: 500px;
  display: flex;
  display: inline-block;
  height: 100%;
}

.projectContent {
  height: 100%;
  width: fit-content;
  justify-content: center;
  padding: 0px 0px 0px 40px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.cardContent {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .projectContainer {
    padding-top: 20%;
    height: 100%;
  }
}